<div class="container mt-5">
    <h1 class="text-center">Bienvenido a Mi Aplicación</h1>
    <p class="lead text-center">Esta es una aplicación de ejemplo en la cual tienes las siguientes opciones:</p>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 offset-md-3">
            <a class="btn btn-success" routerLink="/users/register">Registrar usuario</a>
            <br><br>
            <a class="btn btn-primary" routerLink="/users">Ver listado de usuarios</a>
        </div>
    </div>
</div>