<div class="container mt-5">
    <a class="btn btn-success" routerLink="/">Inicio</a>

    @if (usersResults$ | async; as resultObject) {
    <div class="container col-md-6">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar" (change)="searchData()"
            [(ngModel)]="search" />
    </div>
    <table class="table table-striped mt-5">
        <thead class="thead-dark">
            <th>Nombres</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Codigo postal</th>
            <th>Estado</th>
        </thead>
        <tbody>
            @for (user of resultObject.users; track user.id) {
            <tr>
                <td>{{ user.names}}</td>
                <td>{{ user.firstSurname}}</td>
                <td>{{ user.secondSurname}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.phone}}</td>
                <td>{{ user.zipCode}}</td>
                <td>{{ user.state}}</td>
            </tr>
            }

        </tbody>
    </table>
    <div>
        @if(pages>1){


        <button type="submit" class="btn btn-primary" (click)="prevPage()">Pagina Anterior</button>
        }
        @if(resultObject.totals[0].totals>5){


        <button type="submit" class="btn btn-success" (click)="nextPage()">Siguiente pagina</button>
        }
    </div>
    }

</div>